.tl-brd-prjs {
    font-size: 1.5rem;
}

.info-projects {
    padding: 1rem 0rem;
    border-radius: 8px;
    width: 100%;
}

.img-god img {
    border-radius: 100%;
}

.img-god h3 {
    margin: 10px 0px;
    color: rgb(226, 215, 215);
}

.img-god {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
    min-height: 50px;
    gap: 1px 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.178));
    padding: 1rem;
    border-radius: 12px;
}

.prj-desc {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.178));
}

.prj-desc-2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.178));
    padding: 1rem;
    border-radius: 0px 0px 12px 12px;
}

.inf-all-cards-prj {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 0px 30px;
}

.border-comp-prj {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 10px;
}

.prj-img-review {
    min-height: 10rem;
    border-radius: 12px 12px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.prj-img-review img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-projects {
    margin: 25px 0px;
}

.an-project-tl {
    border: 1px solid rgb(163, 67, 163);
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

@media (max-width: 867px) {
    .inf-all-cards-prj {
        grid-template-columns: 1fr;
    }

    .prj-img-review {
        min-height: 14rem;
    }
}

@media (max-width: 600px) {
    .prj-img-review {
        min-height: 10rem;
    }
}


