.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #0f0b19, #0b0f19, #110b16, #0b0f19, #0b0f19, #130b19);
  padding: 15px 20px;
}

.nav-all-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.ln-dv-all {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: all .3s ease-in-out;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.modal-content {
  background-image: linear-gradient(20deg, #0b060fbb, #0c050ccb, #140a0ad7, #0d040fc0);
  border-radius: 20px;
  border: 0.5px solid #221f1f4f;
  width: 90%;
  max-width: 90%;
  max-height: 80%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
}

.modal.show .modal-content {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

li {
 list-style-type: none;
 margin: 0px 10px;
}
.u-link {
  transition: .1s ease-out;
}

.u-link:hover {
  color: #8830ca;
  transition: .1s ease-in;
}

.img-pf-al img {
  width: 40px;
  border-radius: 100%;
}

