@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 248, 248, 0.87);
    background-image: linear-gradient(to right, #0f0b19, #0b0f19, #110b16, #0b0f19, #0b0f19, #130b19);

    --an-color-links: #8830ca;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .container {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .container:hover ::-webkit-scrollbar {
    opacity: 1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #313131;
    border-radius: 4px;
  }
  